<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spartan.dc.dao.write.DcChainAccessMapper">
  <resultMap id="BaseResultMap" type="com.spartan.dc.model.DcChainAccess">
    <id column="chain_access_id" jdbcType="BIGINT" property="chainAccessId" />
    <result column="access_key" jdbcType="VARCHAR" property="accessKey" />
    <result column="contacts_email" jdbcType="VARCHAR" property="contactsEmail" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="tps" jdbcType="INTEGER" property="tps" />
    <result column="tpd" jdbcType="INTEGER" property="tpd" />
    <result column="stripe_customer_id" jdbcType="VARCHAR" property="stripeCustomerId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="notify_state" jdbcType="SMALLINT" property="notifyState" />
  </resultMap>
  <sql id="Base_Column_List">
    chain_access_id, access_key, contacts_email, state, tps, tpd, stripe_customer_id, 
    create_time, update_time, notify_state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dc_chain_access
    where chain_access_id = #{chainAccessId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dc_chain_access
    where chain_access_id = #{chainAccessId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.spartan.dc.model.DcChainAccess">
    insert into dc_chain_access (chain_access_id, access_key, contacts_email, 
      state, tps, tpd, stripe_customer_id, 
      create_time, update_time, notify_state
      )
    values (#{chainAccessId,jdbcType=BIGINT}, #{accessKey,jdbcType=VARCHAR}, #{contactsEmail,jdbcType=VARCHAR}, 
      #{state,jdbcType=SMALLINT}, #{tps,jdbcType=INTEGER}, #{tpd,jdbcType=INTEGER}, #{stripeCustomerId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{notifyState,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.spartan.dc.model.DcChainAccess" useGeneratedKeys="true" keyProperty="chainAccessId" keyColumn="chain_access_id">
    insert into dc_chain_access
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chainAccessId != null">
        chain_access_id,
      </if>
      <if test="accessKey != null">
        access_key,
      </if>
      <if test="contactsEmail != null">
        contacts_email,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="tps != null">
        tps,
      </if>
      <if test="tpd != null">
        tpd,
      </if>
      <if test="stripeCustomerId != null">
        stripe_customer_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="notifyState != null">
        notify_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chainAccessId != null">
        #{chainAccessId,jdbcType=BIGINT},
      </if>
      <if test="accessKey != null">
        #{accessKey,jdbcType=VARCHAR},
      </if>
      <if test="contactsEmail != null">
        #{contactsEmail,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="tps != null">
        #{tps,jdbcType=INTEGER},
      </if>
      <if test="tpd != null">
        #{tpd,jdbcType=INTEGER},
      </if>
      <if test="stripeCustomerId != null">
        #{stripeCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyState != null">
        #{notifyState,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spartan.dc.model.DcChainAccess">
    update dc_chain_access
    <set>
      <if test="accessKey != null">
        access_key = #{accessKey,jdbcType=VARCHAR},
      </if>
      <if test="contactsEmail != null">
        contacts_email = #{contactsEmail,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="tps != null">
        tps = #{tps,jdbcType=INTEGER},
      </if>
      <if test="tpd != null">
        tpd = #{tpd,jdbcType=INTEGER},
      </if>
      <if test="stripeCustomerId != null">
        stripe_customer_id = #{stripeCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notifyState != null">
        notify_state = #{notifyState,jdbcType=SMALLINT},
      </if>
    </set>
    where chain_access_id = #{chainAccessId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spartan.dc.model.DcChainAccess">
    update dc_chain_access
    set access_key = #{accessKey,jdbcType=VARCHAR},
      contacts_email = #{contactsEmail,jdbcType=VARCHAR},
      state = #{state,jdbcType=SMALLINT},
      tps = #{tps,jdbcType=INTEGER},
      tpd = #{tpd,jdbcType=INTEGER},
      stripe_customer_id = #{stripeCustomerId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      notify_state = #{notifyState,jdbcType=SMALLINT}
    where chain_access_id = #{chainAccessId,jdbcType=BIGINT}
  </update>
</mapper>