<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spartan.dc.dao.write.DcChainMapper">
  <resultMap id="BaseResultMap" type="com.spartan.dc.model.DcChain">
    <id column="chain_id" jdbcType="BIGINT" property="chainId" />
    <result column="chain_type" jdbcType="VARCHAR" property="chainType" />
    <result column="chain_name" jdbcType="VARCHAR" property="chainName" />
    <result column="recharge_unit" jdbcType="VARCHAR" property="rechargeUnit" />
    <result column="chain_code" jdbcType="VARCHAR" property="chainCode" />
    <result column="gateway_type" jdbcType="SMALLINT" property="gatewayType" />
    <result column="gateway_url" jdbcType="VARCHAR" property="gatewayUrl" />
    <result column="ws_gateway_url" jdbcType="VARCHAR" property="wsGatewayUrl" />
    <result column="grpc_gateway_url" jdbcType="VARCHAR" property="grpcGatewayUrl" />
    <result column="json_rpc" jdbcType="SMALLINT" property="jsonRpc" />
    <result column="websocket" jdbcType="SMALLINT" property="websocket" />
    <result column="grpc" jdbcType="SMALLINT" property="grpc" />
  </resultMap>
  <sql id="Base_Column_List">
    chain_id, chain_type, chain_name, recharge_unit, chain_code, gateway_type, gateway_url,
    ws_gateway_url, grpc_gateway_url, json_rpc, websocket, grpc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dc_chain
    where chain_id = #{chainId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dc_chain
    where chain_id = #{chainId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.spartan.dc.model.DcChain">
    insert into dc_chain (chain_id, chain_type, chain_name,
                          recharge_unit, chain_code, gateway_type,
                          gateway_url, ws_gateway_url, grpc_gateway_url,
                          json_rpc, websocket, grpc
    )
    values (#{chainId,jdbcType=BIGINT}, #{chainType,jdbcType=VARCHAR}, #{chainName,jdbcType=VARCHAR},
            #{rechargeUnit,jdbcType=VARCHAR}, #{chainCode,jdbcType=VARCHAR}, #{gatewayType,jdbcType=SMALLINT},
            #{gatewayUrl,jdbcType=VARCHAR}, #{wsGatewayUrl,jdbcType=VARCHAR}, #{grpcGatewayUrl,jdbcType=VARCHAR},
            #{jsonRpc,jdbcType=SMALLINT}, #{websocket,jdbcType=SMALLINT}, #{grpc,jdbcType=SMALLINT}
           )
  </insert>
  <insert id="insertSelective" parameterType="com.spartan.dc.model.DcChain">
    insert into dc_chain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chainId != null">
        chain_id,
      </if>
      <if test="chainType != null">
        chain_type,
      </if>
      <if test="chainName != null">
        chain_name,
      </if>
      <if test="rechargeUnit != null">
        recharge_unit,
      </if>
      <if test="chainCode != null">
        chain_code,
      </if>
      <if test="gatewayType != null">
        gateway_type,
      </if>
      <if test="gatewayUrl != null">
        gateway_url,
      </if>
      <if test="wsGatewayUrl != null">
        ws_gateway_url,
      </if>
      <if test="grpcGatewayUrl != null">
        grpc_gateway_url,
      </if>
      <if test="jsonRpc != null">
        json_rpc,
      </if>
      <if test="websocket != null">
        websocket,
      </if>
      <if test="grpc != null">
        grpc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chainId != null">
        #{chainId,jdbcType=BIGINT},
      </if>
      <if test="chainType != null">
        #{chainType,jdbcType=VARCHAR},
      </if>
      <if test="chainName != null">
        #{chainName,jdbcType=VARCHAR},
      </if>
      <if test="rechargeUnit != null">
        #{rechargeUnit,jdbcType=VARCHAR},
      </if>
      <if test="chainCode != null">
        #{chainCode,jdbcType=VARCHAR},
      </if>
      <if test="gatewayType != null">
        #{gatewayType,jdbcType=SMALLINT},
      </if>
      <if test="gatewayUrl != null">
        #{gatewayUrl,jdbcType=VARCHAR},
      </if>
      <if test="wsGatewayUrl != null">
        #{wsGatewayUrl,jdbcType=VARCHAR},
      </if>
      <if test="grpcGatewayUrl != null">
        #{grpcGatewayUrl,jdbcType=VARCHAR},
      </if>
      <if test="jsonRpc != null">
        #{jsonRpc,jdbcType=SMALLINT},
      </if>
      <if test="websocket != null">
        #{websocket,jdbcType=SMALLINT},
      </if>
      <if test="grpc != null">
        #{grpc,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spartan.dc.model.DcChain">
    update dc_chain
    <set>
      <if test="chainType != null">
        chain_type = #{chainType,jdbcType=VARCHAR},
      </if>
      <if test="chainName != null">
        chain_name = #{chainName,jdbcType=VARCHAR},
      </if>
      <if test="rechargeUnit != null">
        recharge_unit = #{rechargeUnit,jdbcType=VARCHAR},
      </if>
      <if test="chainCode != null">
        chain_code = #{chainCode,jdbcType=VARCHAR},
      </if>
      <if test="gatewayType != null">
        gateway_type = #{gatewayType,jdbcType=SMALLINT},
      </if>
      <if test="gatewayUrl != null">
        gateway_url = #{gatewayUrl,jdbcType=VARCHAR},
      </if>
      <if test="wsGatewayUrl != null">
        ws_gateway_url = #{wsGatewayUrl,jdbcType=VARCHAR},
      </if>
      <if test="grpcGatewayUrl != null">
        grpc_gateway_url = #{grpcGatewayUrl,jdbcType=VARCHAR},
      </if>
      <if test="jsonRpc != null">
        json_rpc = #{jsonRpc,jdbcType=SMALLINT},
      </if>
      <if test="websocket != null">
        websocket = #{websocket,jdbcType=SMALLINT},
      </if>
      <if test="grpc != null">
        grpc = #{grpc,jdbcType=SMALLINT},
      </if>
    </set>
    where chain_id = #{chainId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spartan.dc.model.DcChain">
    update dc_chain
    set chain_type = #{chainType,jdbcType=VARCHAR},
        chain_name = #{chainName,jdbcType=VARCHAR},
        recharge_unit = #{rechargeUnit,jdbcType=VARCHAR},
        chain_code = #{chainCode,jdbcType=VARCHAR},
        gateway_type = #{gatewayType,jdbcType=SMALLINT},
        gateway_url = #{gatewayUrl,jdbcType=VARCHAR},
        ws_gateway_url = #{wsGatewayUrl,jdbcType=VARCHAR},
        grpc_gateway_url = #{grpcGatewayUrl,jdbcType=VARCHAR},
        json_rpc = #{jsonRpc,jdbcType=SMALLINT},
        websocket = #{websocket,jdbcType=SMALLINT},
        grpc = #{grpc,jdbcType=SMALLINT}
    where chain_id = #{chainId,jdbcType=BIGINT}
  </update>
</mapper>