<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spartan.dc.dao.write.DcSystemConfMapper">
  <resultMap id="BaseResultMap" type="com.spartan.dc.model.DcSystemConf">
    <id column="conf_id" jdbcType="BIGINT" property="confId" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="conf_code" jdbcType="VARCHAR" property="confCode" />
    <result column="conf_value" jdbcType="VARCHAR" property="confValue" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    conf_id, type, conf_code, conf_value, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dc_system_conf
    where conf_id = #{confId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dc_system_conf
    where conf_id = #{confId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.spartan.dc.model.DcSystemConf">
    insert into dc_system_conf (conf_id, type, conf_code, 
      conf_value, update_time)
    values (#{confId,jdbcType=BIGINT}, #{type,jdbcType=SMALLINT}, #{confCode,jdbcType=VARCHAR}, 
      #{confValue,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.spartan.dc.model.DcSystemConf">
    insert into dc_system_conf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="confId != null">
        conf_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="confCode != null">
        conf_code,
      </if>
      <if test="confValue != null">
        conf_value,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="confId != null">
        #{confId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="confCode != null">
        #{confCode,jdbcType=VARCHAR},
      </if>
      <if test="confValue != null">
        #{confValue,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spartan.dc.model.DcSystemConf">
    update dc_system_conf
    <set>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="confCode != null">
        conf_code = #{confCode,jdbcType=VARCHAR},
      </if>
      <if test="confValue != null">
        conf_value = #{confValue,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where conf_id = #{confId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spartan.dc.model.DcSystemConf">
    update dc_system_conf
    set type = #{type,jdbcType=SMALLINT},
      conf_code = #{confCode,jdbcType=VARCHAR},
      conf_value = #{confValue,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where conf_id = #{confId,jdbcType=BIGINT}
  </update>
</mapper>