<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spartan.dc.dao.write.EventBlockMapper">
  <resultMap id="BaseResultMap" type="com.spartan.dc.model.EventBlock">
    <id column="block_height" jdbcType="BIGINT" property="blockHeight" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from event_block
    where block_height = #{blockHeight,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.spartan.dc.model.EventBlock">
    insert into event_block (block_height)
    values (#{blockHeight,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.spartan.dc.model.EventBlock">
    insert into event_block
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blockHeight != null">
        block_height,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blockHeight != null">
        #{blockHeight,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>