<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="moduleId" content="charge_module_"/>
    <meta name="menuId" content="charge_menu_"/>

    <title></title>
    <link rel="icon" href="" type="image/x-icon">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/static/css/system/style.min.css">
    <link rel="stylesheet" href="/static/css/system/jquery.mcustomscrollbar.min.css">
    <link rel="stylesheet" href="/static/css/system/waves.min.css">
    <link rel="stylesheet" href="/static/css/system/sweetalert.css">
    <link rel="stylesheet" href="/static/css/system/percircle.css">
    <link rel="stylesheet" href="/static/css/system/fullcalendar.min.css">
    <link rel="stylesheet" href="/static/css/system/fullcalendar.print.css" media='print'>
    <link rel="stylesheet" href="/static/css/system/color-switcher.min.css">
    <link id="custom-color-themes" rel="stylesheet" href="/static/css/system/light-blue.min.css">
    <style>
        .div_title {
            margin-left: 0;
        }
    </style>
</head>

<body>


<div class="main-menu">
    <header class="header">

    </header>
    <div class="content">
        <div class="navigation">
            <ul class="menu js__accordion menu_">

            </ul>
        </div>
    </div>
</div>

<div id="wrapper">
    <div class="main-content">
        <div class="row small-spacing">
            <form class="form-horizontal" id="submit_dc_div">
                <div class="col-sm-12 div_select">
                    <div class="col-sm-12 div_title">Basic Information</div>
                    <div class="col-xs-12">
                        <hr>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Wallet Address:</label>
                            <div class="col-sm-9 content_" id="chainAddress" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Chain Name:</label>
                            <div class="col-sm-9 content_" id="chainName" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gas Credit Amount:</label>
                            <div class="col-sm-9 content_" id="gas" style="word-break: break-word;">
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">Type:</label>
                            <div class="col-sm-9 content_" id="rechargeType" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Creator:</label>
                            <div class="col-sm-9 content_" id="createUser" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Created Time:</label>
                            <div class="col-sm-9 content_" id="createTime" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>
                <div id="reviewInfo">
                    <div class="col-sm-12 div_title">Review Information</div>
                    <div class="col-xs-12">
                        <hr>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Review Status:</label>
                            <div class="col-sm-9 content_" id="auditState" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Reviewed by:</label>
                            <div class="col-sm-9 content_" id="auditor" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Review Time:</label>
                            <div class="col-sm-9 content_" id="auditTime" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Comment:</label>
                            <div class="col-sm-9 content_" id="auditRemarks" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>

                </div>

                    <div class="col-sm-12 div_title">Gas Credit Top Up Information</div>
                    <div class="col-xs-12">
                        <hr>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group" >
                            <label class="i18n col-sm-3 control-label">Top-up ID:</label>
                            <div class="col-sm-9 content_" id="rechargeCode" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">Top-up Status:</label>
                            <div class="col-sm-9 content_" id="rechargeState" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">Transcation Hash:</label>
                            <div class="col-sm-9 content_" id="transHash" style="word-break: break-word;">
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">Top-up Time:</label>
                            <div class="col-sm-9 content_" id="rechargeTime" style="word-break: break-word;">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">NTT Amount:</label>
                            <div class="col-sm-9 content_" id="ntt" style="word-break: break-word;">
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group" >
                            <label class="col-sm-3 control-label">Reason:</label>
                            <div class="col-sm-9 content_" id="rechargeReault" style="word-break: break-word;">
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12" style="margin-top: 20px;">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <a type="button" href="javascript:history.go(-1);"
                                   class="btn btn-info waves-effect waves-light btn-xs confirm_but_"
                                   style="margin-right:20px;padding: 5px 46px;color: #ffffff;margin-top: -30px;"><span>Back</span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<!--[if lt IE 9]>
<script src="/static/js/system/html5shiv.min.js"></script>
<script src="/static/js/system/respond.min.js"></script>
<![endif]-->
<script src="/static/js/system/jquery.min.js"></script>

<script src="/static/js/views/common/menu_content.js"></script>
<script type="text/javascript">
    initMainMenu_();
    initHeader();
</script>


<script src="/static/js/system/modernizr.min.js"></script>
<script src="/static/js/system/bootstrap.min.js"></script>
<script src="/static/js/system/jquery.mcustomscrollbar.concat.min.js"></script>
<script src="/static/js/system/waves.min.js"></script>
<script src="/static/js/system/jquery.fullscreen-min.js"></script>

<script src="/static/js/system/percircle.js"></script>
<script src="/static/js/system/loader.js"></script>
<script src="/static/js/system/moment.js"></script>
<script src="/static/js/system/fullcalendar.min.js"></script>
<script src="/static/js/system/fullcalendar.init.js"></script>
<script src="/static/js/system/nprogress.js"></script>
<script src="/static/js/system/main.min.js"></script>
<script src="/static/js/system/color-switcher.min.js"></script>
<script src="/static/js/system/sweetalert.min.js"></script>

<script src="/static/js/custom/custom.sweetalert.js"></script>

<!-- Data Tables -->
<script src="/static/js/system/jquery.datatables.min.js"></script>
<script src="/static/js/system/datatables.bootstrap.min.js"></script>
<script src="/static/js/system/datatables.responsive.min.js"></script>
<script src="/static/js/custom/custom_datatables_common_conf.js"></script>
<script src="/static/js/system/responsive.bootstrap.min.js"></script>

<!-- Datepicker -->
<script src="/static/js/system/bootstrap-datepicker.min.js"></script>

<script src="/static/js/custom/custom.date.picker.js"></script>
<script src="/static/js/custom/custom.date.js"></script>
<script src="/static/js/custom/custom.data.js"></script>

<script src="/static/js/custom/custom.req.js"></script>

<script src="/static/js/system/jquery.validate.js"></script>
<script src="/static/js/custom/custom.validate.js"></script>

<script src="/static/js/custom/jquery.base64.js"></script>
<script src="/static/js/views/common/system_common.js"></script>
<script src="/static/js/views/recharge/detail.js"></script>
<script src="/static/js/views/chain_common.js"></script>


</body>

</html>