<!DOCTYPE html>
<html lang="en">
<head>


    <title></title>
    <link rel="icon" href="" type="image/x-icon">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/static/css/system/style.min.css">
    <link rel="stylesheet" href="/static/css/system/jquery.mcustomscrollbar.min.css">
    <link rel="stylesheet" href="/static/css/system/waves.min.css">
    <link rel="stylesheet" href="/static/css/system/sweetalert.css">
    <link rel="stylesheet" href="/static/css/system/percircle.css">
    <link rel="stylesheet" href="/static/css/system/fullcalendar.min.css">
    <link rel="stylesheet" href="/static/css/system/fullcalendar.print.css" media='print'>
    <link rel="stylesheet" href="/static/css/system/color-switcher.min.css">
    <link id="custom-color-themes" rel="stylesheet" href="/static/css/system/light-blue.min.css">

</head>

<body>
<div class="main-menu">
    <header class="header">

    </header>
    <div class="content">
        <div class="navigation">
            <ul class="menu js__accordion menu_">

            </ul>
        </div>
    </div>
</div>


<div id="wrapper">
    <div class="main-content">
        <div class="row small-spacing">
            <div class="col-sm-12 div_select">
                <form class="form-horizontal">
                    <div class="col-sm-12 div_title">Release notes <a target='_blank' href="https://github.com/BSN-Spartan/Data-Center-System/releases"
                                                                      class="ico-item" style="font-size: 16px">&nbsp;&nbsp;&nbsp;&nbsp;Version</a>
                    </div>
                </form>
            </div>


            <div class="col-sm-12 div_select">
                <div class="activity-list" style="margin-top: 20px">

                    <div class="activity-item">
                        <div class="bar bg-warning">
                            <div class="dot bg-warning"></div>
                        </div>
                        <div class="content">
                            <div class="date">V 1.0.0</div>
                            <div class="text">
                                1、Integrate Spartan-I Chain (Powered by NC-Ethereum), Spartan-II Chain (Powered by
                                NC-Cosmos), Spartan-III Chain (Powered by NC-PolygonEdge).<br/>
                                2、Non-Cryptocurrency Public Chain Node Establishment, and Node Status Monitoring.<br/>
                                3、NTT Wallet Balance Monitoring.<br/>
                                4、Top-Up the Gas Credit of your NTT Wallet and Monitor Gas Credit Balance.<br/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--[if lt IE 9]>
<script src="/static/js/system/html5shiv.min.js"></script>
<script src="/static/js/system/respond.min.js"></script>
<![endif]-->
<script src="/static/js/system/jquery.min.js"></script>

<script src="/static/js/views/common/menu_content.js"></script>
<script type="text/javascript">
    initMainMenu_();
    initHeader();
</script>


<script src="/static/js/system/modernizr.min.js"></script>
<script src="/static/js/system/bootstrap.min.js"></script>
<script src="/static/js/system/jquery.mcustomscrollbar.concat.min.js"></script>
<script src="/static/js/system/waves.min.js"></script>
<script src="/static/js/system/jquery.fullscreen-min.js"></script>

<script src="/static/js/system/percircle.js"></script>
<script src="/static/js/system/loader.js"></script>
<script src="/static/js/system/moment.js"></script>
<script src="/static/js/system/fullcalendar.min.js"></script>
<script src="/static/js/system/fullcalendar.init.js"></script>
<script src="/static/js/system/nprogress.js"></script>
<script src="/static/js/system/main.min.js"></script>
<script src="/static/js/system/color-switcher.min.js"></script>
<script src="/static/js/system/sweetalert.min.js"></script>
<script src="/static/js/custom/custom.req.js"></script>
<script src="/static/js/custom/custom.sweetalert.js"></script>
</body>
</html>
