<!DOCTYPE html>
<html lang="en">
<head>


    <title></title>
    <link rel="icon" href="" type="image/x-icon">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/static/css/system/style.min.css">
    <link rel="stylesheet" href="/static/css/system/jquery.mcustomscrollbar.min.css">
    <link rel="stylesheet" href="/static/css/system/waves.min.css">
    <link rel="stylesheet" href="/static/css/system/sweetalert.css">
    <link rel="stylesheet" href="/static/css/system/percircle.css">
    <link rel="stylesheet" href="/static/css/system/fullcalendar.min.css">
    <link rel="stylesheet" href="/static/css/system/fullcalendar.print.css" media='print'>
    <link rel="stylesheet" href="/static/css/system/color-switcher.min.css">
    <link id="custom-color-themes" rel="stylesheet" href="/static/css/system/light-blue.min.css">

    <style>
        .version_ul {
            list-style-type: decimal;
            padding-left: 20px;
        }
        .version_ul li {
            padding: 2px 0;
        }
    </style>

</head>

<body>
<div class="main-menu">
    <header class="header">

    </header>
    <div class="content">
        <div class="navigation">
            <ul class="menu js__accordion menu_">

            </ul>
        </div>
    </div>
</div>


<div id="wrapper">
    <div class="main-content">
        <div class="row small-spacing">
            <div class="col-sm-12 div_select">
                <form class="form-horizontal">
                    <div class="col-sm-12 div_title">Release notes <a target='_blank' href="https://github.com/"
                                                                      class="ico-item" style="font-size: 16px">&nbsp;&nbsp;&nbsp;&nbsp;Version</a>
                    </div>
                </form>
            </div>


            <div class="col-sm-12 div_select">
                <div class="activity-list" style="margin-top: 20px; padding: 0 20px;">

                    <div class="activity-item">
                        <div class="bar bg-danger">
                            <div class="dot bg-danger"></div>
                        </div>
                        <div class="content">
                            <div class="date">V 1.2.0 November 30, 2022</div>
                            <div class="text">
                                <ul class="version_ul">
                                    <li>Added NTT Incentive Type;</li>
                                    <li>Added the User Management Module;</li>
                                    <li>Improvement on the Access Management Module.  Support the setting and modification of TPS, TPD, and access status of the specified account;</li>
                                    <li>Enhance the Smart Contract Marketplace;</li>
                                    <li>Enhance the experience of Keystore management and transaction submission;</li>
                                    <li>Enhance the content of emails sent by the Data Center to users;</li>
                                    <li>Enhance the BSN Spartan Network Quick Start Tutorial;</li>
                                    <li>Add a retry mechanism for some transaction failures for Spartan I Chain;</li>
                                    <li>Terms of Service support configuration in the management system;</li>
                                    <li>Improvement of the user manual for the Spartan portal.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="activity-item">
                        <div class="bar bg-primary">
                            <div class="dot bg-primary"></div>
                        </div>
                        <div class="content">
                            <div class="date">V 1.1.1 November 30, 2022</div>
                            <div class="text">
                                <ul class="version_ul">
                                    <li>Update email content;</li>
                                    <li>Fix some bugs;</li>
                                    <li>Improve user experience.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="activity-item">
                        <div class="bar bg-success">
                            <div class="dot bg-success"></div>
                        </div>
                        <div class="content">
                            <div class="date">V 1.1.0 November 18, 2022</div>
                            <div class="text">
                                <ul class="version_ul">
                                    <li>Add Data Center Portal System, end-users can get node access information and top up Gas Credit through the portal;</li>
                                    <li>Optimize the node access method, end-users need to access the node by the URL of "gateway/chain ID/access key". Data Center Operators can set the gateway, chain ID, TPS and TPD in the Data Center Management System; it can also manage the Access Key of portal users;</li>
                                    <li>Add Financial Management module to the Data Center Management System, which enables the portal to manage the Gas Credit top-up function;</li>
                                    <li>Add Portal Settings module to the Data Center Management System, allow the portal to customize the logo, home page introduction, title, technical support and contact information, copyright information, portal payment methods and other configurations.</li>
                                </ul>
<!--                                1.&nbsp;&nbsp;Add Data Center Portal System, end-users can get node access information and top up Gas Credit through the portal;<br/>-->
<!--                                2.&nbsp;&nbsp;Optimize the node access method, end-users need to access the node by the URL of "gateway/chain ID/access key". Data Center Operators can set the gateway, chain ID, TPS and TPD in the Data Center Management System; it can also manage the Access Key of portal users;<br/>-->
<!--                                3.&nbsp;&nbsp;Add Financial Management module to the Data Center Management System, which enables the portal to manage the Gas Credit top-up function;<br/>-->
<!--                                4.&nbsp;&nbsp;Add Portal Settings module to the Data Center Management System, allow the portal to customize the logo, home page introduction, title, technical support and contact information, copyright information, portal payment methods and other configurations.<br/>-->
                            </div>
                        </div>
                    </div>

                    <div class="activity-item">
                        <div class="bar bg-warning">
                            <div class="dot bg-warning"></div>
                        </div>
                        <div class="content">
                            <div class="date">V 1.0.0  September 6, 2022</div>
                            <div class="text">
                                <ul class="version_ul">
                                    <li>Integrate Spartan-I Chain (Powered by NC-Ethereum), Spartan-II Chain (Powered by NC-Cosmos), Spartan-III Chain (Powered by NC-PolygonEdge);</li>
                                    <li>Non-Cryptocurrency Public Chain Node Establishment, and Node Status Monitoring;</li>
                                    <li>NTT Wallet Balance Monitoring;</li>
                                    <li>Top Up the Gas Credit of your NTT Wallet and Monitor Gas Credit Balance.</li>
                                </ul>
<!--                                1.&nbsp;&nbsp;Integrate Spartan-I Chain (Powered by NC-Ethereum), Spartan-II Chain (Powered by-->
<!--                                NC-Cosmos), Spartan-III Chain (Powered by NC-PolygonEdge).<br/>-->
<!--                                2.&nbsp;&nbsp;Non-Cryptocurrency Public Chain Node Establishment, and Node Status Monitoring.<br/>-->
<!--                                3.&nbsp;&nbsp;NTT Wallet Balance Monitoring.<br/>-->
<!--                                4.&nbsp;&nbsp;Top-Up the Gas Credit of your NTT Wallet and Monitor Gas Credit Balance.<br/>-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--[if lt IE 9]>
<script src="/static/js/system/html5shiv.min.js"></script>
<script src="/static/js/system/respond.min.js"></script>
<![endif]-->
<script src="/static/js/system/jquery.min.js"></script>

<script src="/static/js/views/common/menu_content.js"></script>
<script type="text/javascript">
    initMainMenu_();
    initHeader();
</script>


<script src="/static/js/system/modernizr.min.js"></script>
<script src="/static/js/system/bootstrap.min.js"></script>
<script src="/static/js/system/jquery.mcustomscrollbar.concat.min.js"></script>
<script src="/static/js/system/waves.min.js"></script>
<script src="/static/js/system/jquery.fullscreen-min.js"></script>

<script src="/static/js/system/percircle.js"></script>
<script src="/static/js/system/loader.js"></script>
<script src="/static/js/system/moment.js"></script>
<script src="/static/js/system/fullcalendar.min.js"></script>
<script src="/static/js/system/fullcalendar.init.js"></script>
<script src="/static/js/system/nprogress.js"></script>
<script src="/static/js/system/main.min.js"></script>
<script src="/static/js/system/color-switcher.min.js"></script>
<script src="/static/js/system/sweetalert.min.js"></script>
<script src="/static/js/custom/custom.req.js"></script>
<script src="/static/js/custom/custom.sweetalert.js"></script>
</body>
</html>