<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="moduleId" content="support_menu_"/>
    <meta name="menuId" content="support_"/>

    <title></title>
    <link rel="icon" href="" type="image/x-icon">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/static/css/system/style.min.css">
    <link rel="stylesheet" href="/static/css/system/jquery.mcustomscrollbar.min.css">
    <link rel="stylesheet" href="/static/css/system/waves.min.css">
    <link rel="stylesheet" href="/static/css/system/sweetalert.css">
    <link rel="stylesheet" href="/static/css/system/percircle.css">
    <link rel="stylesheet" href="/static/css/system/fullcalendar.min.css">
    <link rel="stylesheet" href="/static/css/system/fullcalendar.print.css" media='print'>
    <link rel="stylesheet" href="/static/css/system/color-switcher.min.css">
    <link id="custom-color-themes" rel="stylesheet" href="/static/css/system/light-blue.min.css">
    <style>
        .link-top {
            width: 100%;
            height: 1px;
            margin-top: 40px;
            border-top: solid #1b1f20 1px;
        }

        .div_top {
            margin-top: 8px;
        }
    </style>
</head>

<body>

<div class="main-menu">
    <header class="header">
    </header>
    <div class="content">
        <div class="navigation">
            <ul class="menu js__accordion menu_">

            </ul>
        </div>
    </div>
</div>


<div id="wrapper">
    <div class="main-content">
        <div class="row small-spacing">
            <div class="col-sm-12 div_select">
                <div class="col-sm-12 div_title">Technical Support</div>
                <div class="link-top"></div>

                <form class="form-horizontal">
                    <div class="form-group" style="margin-top: 20px">
                        <label class="col-sm-2 control-label">Contact Number:</label>
                        <div class="col-sm-8 div_top">
                            +852 3978-1407 (UTC+8:00) 9:00 am to 5:00 pm (Mon–Fri)
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">Contact Email:</label>
                        <div class="col-sm-8 div_top">
                            <a href="mailto:BSN_Spartan@reddatetech.com.hk">BSN_Spartan_support@reddatetech.com.hk</a>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">Online Support:</label>
                        <div class="col-sm-8 div_top">
                            <a href="https://spartan.bsn.foundation"
                               target="_blank">https://spartan.bsn.foundation</a>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px">
                        <label class="col-sm-2 control-label"><img src="/static/images/system/tsf.png"
                                                                   style="width: 25px;height: 25px">&nbsp;&nbsp;Telegram:</label>
                        <div class="col-sm-8 div_top">
                            <a href="https://t.me/bsnsupport" target="_blank">https://t.me/bsnsupport</a>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px">
                        <label class="col-sm-2 control-label"><img src="/static/images/system/tsw.png"
                                                                   style="width: 25px;height: 25px">&nbsp;&nbsp;Whatsapp:</label>
                        <div class="col-sm-8 div_top">
                            <a href="https://chat.whatsapp.com/H9wENt0lw4dFTVopaILFxh" target="_blank">https://chat.whatsapp.com/H9wENt0lw4dFTVopaILFxh</a>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px">
                        <label class="col-sm-2 control-label"><img src="/static/images/system/tsr.png"
                                                                   style="width: 25px;height: 25px">&nbsp;&nbsp;Reddit:</label>
                        <div class="col-sm-8 div_top">
                            <a href="https://www.reddit.com/r/BSNSpartanSupport/" target="_blank">https://www.reddit.com/r/BSNSpartanSupport/</a>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">
                            <img src="/static/images/system/tsd.png" style="width: 25px;height: 25px">&nbsp;&nbsp;Discord:</label>
                        <div class="col-sm-8 div_top">
                            <a href="https://discord.gg/HEpnKTUyAX" target="_blank">https://discord.gg/HEpnKTUyAX</a>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">
                            <img src="/static/images/system/tst.png"
                                 style="width: 25px;height: 25px">&nbsp;&nbsp;Twitter:</label>
                        <div class="col-sm-8 div_top">
                            <a href="https://twitter.com/bsnbase" target="_blank">https://twitter.com/bsnbase</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

</div>


<!--[if lt IE 9]>
<script src="/static/js/system/html5shiv.min.js"></script>
<script src="/static/js/system/respond.min.js"></script>
<![endif]-->
<script src="/static/js/system/jquery.min.js"></script>

<script src="/static/js/views/common/menu_content.js"></script>
<script type="text/javascript">
    initMainMenu_();
    initHeader();
</script>


<script src="/static/js/system/modernizr.min.js"></script>
<script src="/static/js/system/bootstrap.min.js"></script>
<script src="/static/js/system/jquery.mcustomscrollbar.concat.min.js"></script>
<script src="/static/js/system/waves.min.js"></script>
<script src="/static/js/system/jquery.fullscreen-min.js"></script>

<script src="/static/js/system/percircle.js"></script>
<script src="/static/js/system/loader.js"></script>
<script src="/static/js/system/moment.js"></script>
<script src="/static/js/system/fullcalendar.min.js"></script>
<script src="/static/js/system/fullcalendar.init.js"></script>
<script src="/static/js/system/nprogress.js"></script>
<script src="/static/js/system/main.min.js"></script>
<script src="/static/js/system/color-switcher.min.js"></script>
<script src="/static/js/system/sweetalert.min.js"></script>

<script src="/static/js/custom/custom.sweetalert.js"></script>
<script src="/static/js/system/jquery.validate.js"></script>
<script src="/static/js/custom/custom.validate.js"></script>
<script src="/static/js/custom/custom.req.js"></script>

<script src="/static/js/views/support/support.js"></script>

</body>
</html>